html {
  scroll-margin-top: 6rem;
  scroll-behavior: smooth;
  height: 100%;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
